body{
    background: black;
    text-align: center;
    font-size: .5cm;
}

.ripple > *{
    display: inline-block;
    text-shadow: 0 0 0 #fff;
    color: transparent;
}

.ripple:hover > * {
    animation: rippleEffect 5s infinite;
}

@keyframes rippleEffect {
    40% {
        opacity: .35;
    }
    50% {
        transform: translate3d(.5em, 0, 0)
        scale(1.1);
        text-shadow: 0 0 20px #fff;
    }
    75% {
        transform: translate3d(0, 0, 0)
        scale(1);
        text-shadow: 0 0 0 #fff;
        opacity: 1;
    }
}